swagger: "2.0"
info:
  title: NetZero Academy Courses, Webinars and Seminars
  description: Lists dates and topics of upcoming courses, webinars and seminars for energy consultants. Kurse fuer Energieberater.
  version: 1.0.5
host: hook.eu1.make.com
basePath: /
schemes:
  - https
securityDefinitions:
  ApiKeyAuth:
    type: apiKey
    in: header
    name: X-API-Key
security:
  - ApiKeyAuth: []
tags:
  - name: Courses
    description: Operations related to course listings.

paths:
  /xztbbwwtmuvy0kppfryfd0rwrkfh6sc6:
    get:
      summary: Retrieve list of courses
      description: 
        Retrieve a list of available courses with details such as title, start and end dates, and a link to the course page. This endpoint can be used to get an overview of upcoming courses.
      operationId: getCourses
      produces:
        - application/json
      parameters:
        - name: startDate
          in: query
          description: Filter courses starting from this date
          required: false
          type: string
          format: date
        - name: endDate
          in: query
          description: Filter courses ending by this date
          required: false
          type: string
          format: date
        - name: limit
          in: query
          description: Specify the maximum number of items to return (maximum 10)
          required: false
          type: integer
          format: int32
          default: 10
          minimum: 1
          maximum: 10
        - name: type
          in: query
          description: >
            Filtert Kurse nach Typ. Mögliche Werte sind:
            - 'basiskurs': Energieberatung Basiskurs.
            - 'vertiefungskurs_wohngebäude': Vertiefungskurs für den Bereich Wohngebäude
            - 'vertiefungskurs_nichtwohngebäude': Vertiefungskurs für den Bereich Nichtwohngebäude
            - 'fernstudium': Berufsbegleitende Kurse

          required: false
          type: string
          enum:
            - basiskurs
            - vertiefungskurs_wohngebäude
            - vertiefungskurs_nichtwohngebäude
            - fernstudium
      responses:
        200:
          description: A list of courses
          schema:
            type: array
            items:
              $ref: '#/definitions/Course'
paths:
  /ab708o5kgbdn9hti4c75u92c7s36rsio:
      summary: Retrieve list of webinars
      description:
        Retrieve a list of available webinars with details such as title, start and end dates, and a link to the webinar page. This endpoint can be used to get an overview of upcoming webinars.
      operationId: getWebinars
      produces:
        - application/json
      parameters:
        - name: startDate
          in: query
          description: Filter webinars starting from this date
          required: false
          type: string
          format: date
        - name: endDate
          in: query
          description: Filter webinars ending by this date
          required: false
          type: string
          format: date
        - name: limit
          in: query
          description: Specify the maximum number of items to return (maximum 10)
          required: false
          type: integer
          format: int32
          default: 10
          minimum: 1
          maximum: 10
      responses:
        200:
          description: A list of webinars
          schema:
            type: array
            items:
              $ref: '#/definitions/Course'
paths:
  /m98i8x79a260zva3r6shi0gcjid8hhjg:
      summary: Retrieve list of seminars
      description:
        Retrieve a list of available seminars with details such as title, start and end dates, and a link to the seminar page. This endpoint can be used to get an overview of upcoming seminars.
      operationId: getSeminars
      produces:
        - application/json
      parameters:
        - name: startDate
          in: query
          description: Filter seminars starting from this date
          required: false
          type: string
          format: date
        - name: endDate
          in: query
          description: Filter seminars ending by this date
          required: false
          type: string
          format: date
        - name: limit
          in: query
          description: Specify the maximum number of items to return (maximum 10)
          required: false
          type: integer
          format: int32
          default: 10
          minimum: 1
          maximum: 10
      responses:
        200:
          description: A list of seminars
          schema:
            type: array
            items:
              $ref: '#/definitions/Course'

definitions:
  Course:
    type: object
    properties:
      Title:
        type: string
        example: "Energieberatung Vertiefungskurs WG 05.08. - 09.08.2024"
      Description:
        type: string
        example: "Im Kurs Energieberater Wohngebaeude eignest Du Dir umfassende Kenntnisse in allen Aspekten energetischer Sanierungen an.\n"
      Start:
        type: string
        format: date
        example: 2024-08-05
      End:
        type: string
        format: date
        example: 2024-08-09
      URL:
        type: string
        format: uri
        example: "https://www.netzeroacademy.de/energieberater-wohngebauede"
