swagger: "2.0"
info:
  title: NetZero Academy Courses
  description: Lists upcoming courses for energy consultants. Kurse fuer Energieberater.
  version: 1.0.2
host: hook.eu1.make.com
basePath: /
schemes:
  - https
securityDefinitions:
  ApiKeyAuth:
    type: apiKey
    in: header
    name: X-API-Key
security:
  - ApiKeyAuth: []
tags:
  - name: Courses
    description: Operations related to course listings.

paths:
  /xztbbwwtmuvy0kppfryfd0rwrkfh6sc6:
    get:
      summary: Retrieve list of courses
      description: 
        Retrieve a list of available courses with details such as title, start and end dates, and a link to the course page.
        This endpoint can be used to get an overview of upcoming courses.
      operationId: getCourses
      produces:
        - application/json
      responses:
        200:
          description: A list of courses
          schema:
            type: array
            items:
              $ref: '#/definitions/Course'

definitions:
  Course:
    type: object
    properties:
      Title:
        type: string
        example: "Energieberatung Vertiefungskurs WG 05.08. - 09.08.2024"
      Description:
        type: string
        example: "Im Kurs Energieberater Wohngebaeude eignest Du Dir umfassende Kenntnisse in allen Aspekten energetischer Sanierungen an.\n"
      Start:
        type: string
        format: date
        example: 2024-08-05
      End:
        type: string
        format: date
        example: 2024-08-09
      URL:
        type: string
        format: uri
        example: "https://www.netzeroacademy.de/energieberater-wohngebauede"
